$primary-color: #386cf7;
$primary-color-base: #e7ecff;
$primary-color-hover: #1445ce;
$secondary-color: #18d9cc;
$secondary-color-base: #dcfaf8;
$accent-color: #ff82ac;
$secondary-color-base: #ffe9f3;
$base-link-color: #5c719d;
$border-color: #e3e9f5;
$header-background-color: #313480;
